name: CI

on:
  # run weekly (see issue #186)
  schedule:
    - cron: "42 3 * * 6"
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"


concurrency:
  group: "${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}"
  cancel-in-progress: true


defaults:
  run:
    shell: bash -l {0}


jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macOS-latest", "windows-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        # Only test lowest and highest version on the expensive/slow
        # macOS and windows runners (UPDATE when supported versions change):	
        exclude:
        - os: macOS-latest
          python-version: 3.10
        - os: macOS-latest
          python-version: 3.9
        - os: windows-latest
          python-version: 3.10
        - os: windows-latest
          python-version: 3.9

    steps:
    - uses: actions/checkout@v3

    # More info on options: https://github.com/conda-incubator/setup-miniconda
    - uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: devtools/conda-envs/test_env.yaml
        environment-name: test
        extra-specs: |
            python=${{ matrix.python-version }}

    - name: Install alchemtest
      run: |
        python -m pip install https://github.com/DrDomenicoMarson/alchemtestDM/archive/refs/heads/master.zip

    - name: Install package (with no dependencies)
      run: |
        python -m pip install . --no-deps

    - name: Run tests
      run: |
        pytest -v -n 2 --cov=alchemlyb --cov-report=xml --color=yes src/alchemlyb/tests
      env:
        MPLBACKEND: agg

    - name: Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
        file: ./coverage.xml
        fail_ci_if_error: true
