name: CI

on:
  # run weekly (see issue #186)
  schedule:
    - cron: "42 3 * * 6"
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

concurrency:
  group: "${{ github.ref }}-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macOS-latest", "windows-latest"]
        python-version: ["3.7", "3.8", "3.9", "3.10"]   

    steps:
    - uses: actions/checkout@v2

    # More info on options: https://github.com/conda-incubator/setup-miniconda
    - uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: devtools/conda-envs/test_env.yaml
        environment-name: test
        extra-specs: |
            python=${{ matrix.python-version }}
            pytest=${{ matrix.pytest }}

    - name: Install alchemtest
      # conda setup requires this special shell
      shell: bash -l {0}
      run: |
        python -m pip install https://github.com/alchemistry/alchemtest/archive/master.zip

    - name: Install package (with no dependencies)
      # conda setup requires this special shell
      shell: bash -l {0}
      run: |
        python -m pip install . --no-deps

    - name: Run tests
      # conda setup requires this special shell
      shell: bash -l {0}

      run: |
        pytest -v --cov=alchemlyb --cov-report=xml --color=yes src/alchemlyb/tests
      env:
        MPLBACKEND: agg

    - name: Codecov
      uses: codecov/codecov-action@v1.5.2
      with:
        name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
        file: ./coverage.xml
        fail_ci_if_error: true
